body {
    font-family: Arial, sans-serif;
    background-color: #2947c9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.login-container {
    background-color: #00f2f1;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 350px;
}

h2 {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff8500;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;
}

button:hover {
    background-color: #cc6e00;
}

.error-message {
    color: red;
    margin-top: 1rem;
}

.small-text {
    font-size: 0.8rem;
    margin-top: 1rem;
    text-align: center;
}
