#argus-name {
    font-size: 10vh;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
    color: white;
    margin-bottom: 1vh;
}

#argus-desc {
    font-size: 2vh;
    font-weight: bold;
    color: white;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    background-image: url('/static/fondo.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.join-btn {
    background-color: #FD8906;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    animation: pulse 2s infinite;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-captcha {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-top: 10px; /* Add some top margin */
}

.search-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.search-left {
    width: 50%;
    display: flex;
    padding-right: 5vh;
    padding-left: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-right {
    width: 50%;
}

.search-input {
    width: 100%;
    padding: 10px 0px 10px 50px;
    font-size: 18px;
    border: 2px solid #333;
    border-radius: 25px;
    animation: fadeIn 1s ease-in-out;
}

.search-button {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15px;
    font-size: 18px;
    border: none;
    background-color: #283E66;
    color: #ffffff;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
}

.stats-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #283E66;
}

.stat {
    text-align: center;
    color: #ffffff;
}

.stat-number {
    font-size: 36px;
    font-weight: bold;
}

.stat-label {
    font-size: 18px;
    margin-top: -10px;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
